.main-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-con-large {
  display: block;
}
.story-con-small {
  display: none;
}

.render-con {
  width: 63%;
}

.story-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.story-item p {
  font-family: Roboto;
  font-size: 14px;
}

@media (max-width: 768px) {
  .story-item p {
    font-size: 13px;
  }
  .story-img {
    width: 56px;
    height: 56px;
  }
  .story-con-small {
    display: block;
  }
  .story-con-large {
    display: none;
  }
  .render-con {
    width: 88%;
  }
}
.failed-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failed-con img {
  width: 48px;
  height: 48px;
}
.failed-con button {
  width: 102px;
  height: 32px;
}
